*{
    padding: 0;
    margin: 0;
   
    font-family: arial;
}
body{
    background-color: black;
    cursor: auto;
    
}
html{
    scroll-behavior: smooth;
}
/* p:hover, h2:hover{
    text-shadow: 1.5px 1.5px 15px rgba(236, 42, 17, 0.788);
    transition: 0.6s;

} */
.nav-bar{
    height: 10vh;
    width: 98.8vw;
    /* border: 1px solid white; */
    background-color:rgba(0, 0, 0, 0.692) ;
    position:sticky;
    display: flex;
    top: 0vmin;
    align-items: center;
    justify-content: space-between;
    box-shadow:10px 60px 70px rgb(0, 0, 0);
}
.nav-cont{
    height: 10vh;
    display: flex;
   

    
}
.nav-cont h2{
    color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
    /* margin-left: 5px; */
    font-size: 4vmin;
    margin-left: 1.5vmin;
   
    
    

}
.nav-cont h2:hover{
    text-shadow: 1px 1px 10px rgb(208, 230, 18);
    transition: 0.6s;
}
.nav-cont h2::after{
    content: '/>';
    color: blue;
    font-weight: bold;

}
.nav-right{
    display: flex;
     padding: 0vmin 2vmin; 
    gap: 5vmin;
}
.nav-right a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.719);
    font-weight: bold;
    font-size: 3vmin;
    right: 0vmin;
} 
.nav-right a::after{
    content: '/>';
    color: blue;
    font-weight: bolder;
}
.nav-right a:hover{
    color: #fff;
    transition: 0.6s;
    text-shadow: 1px 1px 10px rgb(208, 230, 18);
}
.main{
    height: 90vh;
    width: 98.8vw;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
}
.info{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1vmin;
}
.info2{
    display: flex;
    flex-direction: row;
}
.info h2{
    color: #fff;
    font-size: 4vmin;
    letter-spacing: 0.5vmin;
    
    
}
.info h2 b{
    color: rgb(24, 8, 167);
    font-size: 4vmin;
   
    
}

.anima{
    color: blue;
    animation: anima 2s infinite;
}  
 @keyframes anima{
    0%{
       opacity: 1;
       transition: 0.75;
    }
    50%{
        opacity: 0;

        transition: 0.75;
    }
    100% {
       opacity: 1;
       transition: 0.75;
    }
    
} 
.anima h2{
    color: blue;
    font-weight: bold;
}

/* project part */

.project{
    height: 100vh;
    width: 98.8vw;
    background-color: rgb(0, 0, 0);
    display:flex;
   justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    /* border: 1px solid white; */
    
}
.project-body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0vmin;
    flex-direction: column;
    
}
.project-body p{
    font-size: 4vmin;
    font-weight: bolder;
    color: white;
    letter-spacing: 1vmin;
    
}
.project-body p::after{
    content: '/>';
    color: blue;
}
.project-body h2{
    color: white;
    font-size: 3vmin;
    letter-spacing: 1vmin;
}
.project-body a{
    color: white;
    text-decoration: none;
    letter-spacing: 1vmin;
}
.project-body a::after{
    content: '/>';
    text-decoration: none;
    color: blue;
}
.project-content{
    height: 62vh;
    width: 98.3vw;
    display: flex;
    flex-direction:column;
    justify-content: space-evenly;
    margin-top: 14vmin;
}
.ios-div{
    color:white;
    height: 10vmin;
    width: 98.5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.ios-div h2{
    font-size: 3vmin;
    display: flex;
    margin-left: 2vmin;
}
#ios{
    height: 6vmin;
    width: 15vmin;
    background-color: rgb(0, 0, 0);
    border-radius:20px ;
    font-size: 2vmin;
    font-weight: bolder;
    color: white;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2vmin;
}
.xo-div{
    color:white;
    height: 10vmin;
    width: 98.5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.xo-div h2{
    font-size: 3vmin;
    display: flex;
    margin-left: 2vmin;
   
}
#xo{
    height: 6vmin;
    width: 15vmin;
    background-color: rgb(0, 0, 0);
    border-radius:20px ;
    font-size: 2vmin;
    font-weight: bolder;
    color: white;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2vmin;
}
.button-game{
    height: 6vmin;
    width: 15vmin;
    background-color: rgb(0, 0, 0);
    border-radius:20px ;
    font-size: 2vmin;
    font-weight: bolder;
    color: white;
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2vmin;
}













/* abpput page */

.about{
    height: 140vh;
    width: 98.6vw;
    background-color: rgb(0, 0, 0);
    
}
.about-cont{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
}
.about-cont p{
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    font-size: 3vmin;
    font-weight: bold;
    margin-top: 10vmin;
   

}
#about{
    font-size: 4vmin;
    letter-spacing: 1vmin;
    font-weight: bolder;
}
#about::after{
    content: '/>';
    color: blue;
}
#bio{
    display: flex;
    justify-content: center;
    margin-top: 4vmin;
    color: limegreen;
    font-size: 2.2vmin;
    word-spacing: 1vmin;
    text-align: start;
    padding: 2vmin;
    
}
.bio{
    height: 110vh;
    
}
 
.button button
{
    height: 6vmin;
    width: 15vmin;
    background-color: rgb(0, 0, 0);
    border-radius:20px ;
    font-size: 2vmin;
    font-weight: bolder;
    color: white;
    border: 1px solid white;
    
}
/* .button button:active{
    transform:scale(1.1);
    transition:0.1s;
} */
.button button:hover  {
    transition: 0.9s;
    scale: 1.2;
   
}
 .button button i{
    scale: 1.7;
} 

    /* Contact block */

.contact{
    height: 40vh;
    width:  98.6vw;
    background-color: rgb(0, 0, 0);
    /* border: 2px solid white; */
}
#contact{
    font-size: 4vmin;
    letter-spacing: 1vmin;
    font-weight: bolder;
    color: white;
}
#contact::after{
    content: '/>';
    color: blue;
}
.contact-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.contact-cont p{
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    font-size: 3vmin;
    font-weight: bold;
    margin-top: 7vmin;
   
}
.plateforms{
    display: flex;
    justify-content: center;
    
    /* gap: 10vmin; */
    

}
.plateforms a{
    text-decoration: none;
    font-size: 3vmin;
    font-weight: bold;
    color: white;
    margin-left:5vmin;
    margin-top: 12vmin;
    gap: 2vmin;
    
}
.plateforms a::after{
    content: "/>";
    color: blue;
}
.plateforms a:hover{
    transition: 0.9s;
    scale: 1.2;
}
